.App {
  background: #141d23;
  background: -moz-linear-gradient(top, #0C2F47 0%, #06280D 50%, #12490C 100%);
  background: -webkit-linear-gradient(top, #0C2F47 0%, #06280D 50%, #12490C 100%);
  background: linear-gradient(to bottom, #0C2F47 0%, #06280D 50%, #12490C 100%);
  width: auto;
  height: 2500px;
}

.App-header {
  /* width: 100%;
  height: 120px; */
  padding: 10px;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  text-align: center;
  color: white;
}

div#subtitle {
  padding: none;
}

.listing-image {
  width: 100%;
  height: 100%;
}

input {
  width: 100%;
  text-align: center;
}

#home {
  color: white;
}

#welcome-div {
  text-align: center;
}

#new-listing-div {
  text-align: center;
}

#brokerage-div {
  float: right;
  text-align: center;
  font-size: 20px;
  line-height: 100px;
}

.container {
  color: white;
  margin-left: 30px;
  margin-right: 30px;
}

.username {
  color: black;
}

.agent-card-content {
  color: black;
}

.row {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  justify-content: space-between;
}

#new-listing-img {
  width: 320px;
  height: 240px;
}

#agent-delete {
  margin-left: 45%;
}

#listing-brokerage-div {
  display: flex;
  justify-content:space-evenly;
  margin-top: 100px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 100px;
  background-color: rgb(121, 95, 95);
  border-radius: 50%;
}

#history-div {
  text-align: center;
}

#history-title {
  margin-top: 100px;
  font-size: 150px;
}

#history-desc {
  margin: 150px;
  font-size: 30px;
}

#contact-card-title {
  text-align: center;
  margin-bottom: 40px;
}
