.App {
  background: #141d23;
  background: -moz-linear-gradient(top, #0C2F47 0%, #06280D 50%, #12490C 100%);
  background: -webkit-linear-gradient(top, #0C2F47 0%, #06280D 50%, #12490C 100%);
  background: linear-gradient(to bottom, #0C2F47 0%, #06280D 50%, #12490C 100%);
  width: auto;
  height: 2500px;
}

.App-header {
  /* background-color: #282c34; */
  width: 100%;
  height: 120px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

div#title {
  padding: none;
  size: 100px;
}

div#subtitle {
  padding: 1px;
}

.listing-image {
  width: 100%;
  height: 100%;
}

input {
  width: 100%;
  text-align: center;
}

#home {
  color: white;
}

#welcome-div {
  text-align: center;
}

#new-listing-div {
  margin-left: 15%;
  margin-top: 7%;
  float: left;
  text-align: center;
  
}

#brokerage-div {
  margin-right: 15%;
  margin-top: 7%;
  float: right;
  text-align: start;
}

.agent-container {
  color: white;
}

.username {
  color: black;
}

.agent-card-content {
  color: black;
}

.row {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  justify-content: space-between;
}

/* .ui.raised.card.listing {
  width: 50%;
  height: 50%;
} */

/* .App-link {
  color: #61dafb;
} */
